{% extends 'base.html' %}
{% block content %}
<h1></h1>
<p>Компания «SharkNews» занимается изучением и популяризацией морской фауны.
 Мы организуем научные экспедиции, проводим образовательные лекции и рассказываем о самых удивительных обитателях океана</p>
<h3>Последние новости</h3>
{% for item in latest_news %}
    <div class="card mb-2">
        <div class="card-body">
            <h5>{{ item.title }}</h5>
			<a href="/news/{{ item.id }}/" class="btn btn-sm btn-primary mt-2">Читать подробнее</a>
            <p>{{ item.content|truncatewords:20 }}</p>
            <small class="text-muted">Автор: {{ item.author.username }}, {{ item.pub_date }}</small>
        </div>
    </div>
{% empty %}
    <p>Новостей пока нет.</p>
{% endfor %}
{% endblock %}